html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  font: var(--text-regular-main);
  background: linear-gradient(
    0deg,
    #fff 0%,
    #5992fd 25%,
    #4685fc 50%,
    #236ffc 75%,
    #004384 100%
  );
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}


.title {
  font: var(--title-semibold-medium);
  color: var(--color-info-title);
  text-align: center;
  letter-spacing: -1px;
}

.text {
  font: var(--text-regular-pre-large);
  color: var(--color-info-text);
  text-align: center;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: 80px 0 70px;
  text-align: center;
}

.list-link {
  position: relative;
  padding: 2px;
  line-height: 35px;
  text-decoration: none;

  &::before {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    content: "";
    background-color: var(--color-Bittersweet);
    opacity: 0;
    transition: left 0.3s;
  }

  &:hover::before,
  &:focus::before {
    left: 0;
    opacity: 1;
  }

  &--menu {
    color: var(--color-white);
  }

  &--footer {
    color: var(--color-Persian-Blue);
  }
}

.link-btn {
  display: inline-block;
  padding: 5px 8px;
  font: var(--text-regular-large);
  line-height: 20px;
  color: var(--color-white);
  text-decoration: none;
  border: 2px solid;
  border-radius: 3px;
  transition: color 0.2s, transform 0.2s;

  &--login {
    margin-right: 10px;
    box-shadow: 0 0.4em 0.8em -0.4em rgb(238, 255, 0);

    &:hover,
    &:focus {
      color: rgb(253, 255, 106);
      transform: translateY(-3px);
    }
  }

  &--register {
    box-shadow: 0 0.6em 0.8em -0.4em var(--color-Bittersweet);

    &:hover,
    &:focus {
      color: var(--color-Bittersweet);
      transform: translateY(-3px);
    }
  }

  &--learn-more {
    align-self: center;
    padding: 4px;
    margin-top: 7px;
    color: var(--color-Downriver);

    font: var(--text-regular-pre-large);
    line-height: 22px;
    box-shadow: 0 0.4em 0.8em -0.4em rgb(238, 255, 0);

    &:hover,
    &:focus {
      color: var(--color-Persian-Blue);
      transform: translateY(-3px);
    }
  }
}

.cloud-middle {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1138px;
  min-height: 310px;
  margin-bottom: 50px;
  user-select: none;
  background: url(../images/cloud-new-midle.png) no-repeat;
  filter: drop-shadow(0 25px 50px rgba(0, 0, 0, 0.72));
  background-size: 1138px 100%;
}

.lazy-img {
  filter: blur(5px);
}

