@media (max-width: 1024px) {
  .hero {
    &__inner {
      flex-direction: column;
    }

    &__bulb-svg {
      top: 0;
    }

    &__info {
      max-width: 90vw;
    }
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .hero {
    &__inner {
      flex-direction: column;
      padding-top: clamp(50px, calc(60vh - 553px), 266px);
    }
  }
}

@media (max-width: 1024px) and (max-height: 915px) {
  .hero {
    &__svg-wrapper {
      height: clamp(250px, 50vh, 565px);
    }
  }
}

@media (max-height: 911px) and (max-width: 520px) {
  .services {
    &__float {
      margin-top: clamp(-40px, calc(40vh - 295px), 60px);
    }
  }

  .hero {
    &__svg-wrapper {
      height: clamp(250px, 40vh, 565px);
    }

    &__inner {
      flex-direction: column;
      padding-top: clamp(0px, calc(60vh - 382px), 266px);
    }
  }
}

@media (max-width: 840px) {
  .title--form {
    top: -5px;
    right: 50px;
  }

  .contact {
    &__form {
      width: 463px;

      &-blur-wrapper {
        border-radius: 25px;
      }

      &-title {
        position: absolute;
        top: 0;
        right: 60px;
      }

      &-bgr-left,
      &-pigeon {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    &__card {
      width: 140px;
      height: 222px;
    }
  }

  .stats {
    &__info {
      margin-left: auto;
      margin-right: auto;
    }

    &__rocket {
      position: absolute;
      right: 0;
      margin-top: 150px;
    }

    &__expert-img {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 650px) {
  .services {
    &__float {
      position: relative;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 100px;

      &-man {
        position: absolute;
        left: 50%;
        margin-left: -120px;
      }
    }
  }

  .customers {
    &__face-1::before {
      position: absolute;
      top: -75px;
      left: -39px;
    }

    &__face-2::before {
      position: absolute;
      top: 105px;
      left: -265px;
    }

    &__face-3::before {
      position: absolute;
      left: -168px;
    }
  }
}

@media (max-width: 520px) {
  .services {
    &__card {
      width: 110px;
      height: 175px;
    }

    &__float-man {
      width: 190px;
      height: 210px;
      margin-top: 150px;
      margin-left: -95px;
    }
  }

  .contact {
    &__form {
      &-blur-wrapper {
        position: relative;
        width: 90vw;
        border-radius: 25px;
      }

      &-title {
        position: absolute;
        top: 0;
        left: 10px;
        width: 80vw;
      }

      &-fields {
        left: 5vw;
        width: 70vw;
      }

      &-textarea {
        width: 80vw;
      }

      &-button {
        left: 60%;
      }
    }
  }
}
