@use 'index' as *;

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  &__user-authorization {
    display: flex;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    margin-left: 20px;
    overflow: hidden;
    cursor: pointer;

    &:last-child {
      margin-left: 0;
    }
  }
}
